<p id="notice" ><%= notice %></p>

<h1 align="center">
  <%= @article.title %>
</h1>

<p align="center">
  <%= @article.description %>
</p>

<p align="center">
<% if user_signed_in? %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %> 
<%= link_to 'Back', articles_path %>
</p>